In [1]:
import torch
from torch import nn
import pandas as pd
import sklearn
import numpy as np

In [2]:
!git clone https://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@github.com/ahbagheri01/ML_Project.git
%cd ML_Project/

fatal: destination path 'ML_Project' already exists and is not an empty directory.
/content/ML_Project

In [3]:

s_nn = nn.Sequential(
        nn.Linear(17,128),
        nn.ReLU(),
        nn.Linear(128,64),
        nn.ReLU(),
        nn.Linear(64,16),
        nn.ReLU(),
        nn.Linear(16,8),
        nn.ReLU(),
        nn.Linear(8,1)

    )

In [4]:
def binary_acc(y_pred, y_test):
    y_pred_tag = torch.round(torch.sigmoid(y_pred))

    correct_results_sum = (y_pred_tag == y_test).sum().float()
    acc = correct_results_sum/y_test.shape[0]
    acc = torch.round(acc * 100)
    
    return acc.item()

In [5]:
data = pd.read_csv('/content/ML_Project/datasets/EDA.csv')
data = data.iloc[: , 1:]

In [6]:
df = data

In [7]:
df = df.drop(columns = ["SalesAmountInEuro","time_delay_for_conversion","click_timestamp","day","day_time","user_id","partner_id","product_id","product_title"])

In [8]:
df.head(5)

   Sale  nb_clicks_1week  ...  tree_encode  category_encode
0   0.0       439.389006  ...            6                0
1   0.0       439.389006  ...            6                0
2   0.0       439.389006  ...           12                3
3   0.0       439.389006  ...            6                0
4   0.0       439.389006  ...           18               15

[5 rows x 18 columns]

In [9]:
y = df['Sale'].to_numpy()
X = df.drop(['Sale'], axis=1)
y.shape

(100000,)

In [10]:
len(X.columns)

17

In [11]:
from torch.utils.data import DataLoader, TensorDataset

device = torch.device('cuda')

s_nn.to(device)
print(torch.cuda.is_available())

loss_function = nn.BCEWithLogitsLoss()

optimizer = torch.optim.Adam(s_nn.parameters(),lr=0.001)


dataset = TensorDataset(torch.unsqueeze(torch.Tensor(X.to_numpy()),1),torch.Tensor(y))
train_subset, val_subset = torch.utils.data.random_split(
        dataset, [60000, 40000], generator=torch.Generator().manual_seed(1))

BATCH_SIZE = 128
NUMBER_OF_EPOCHS = 50
train_loader = DataLoader(dataset=train_subset, shuffle=True, batch_size=BATCH_SIZE)
val_loader = DataLoader(dataset=val_subset, shuffle=False, batch_size=BATCH_SIZE)

True

In [12]:
y.shape

(100000,)

In [13]:
from statistics import mean
all_train_losses = []
all_train_accuracy = []
all_val_losses = []
all_val_accuracy = []
for epoch in range(NUMBER_OF_EPOCHS):
  # training
  epoch_loss = 0
  acc_list = []
  s_nn.train()
  for i , (images , labels) in enumerate (train_loader):
    images , labels = images.to(device) , labels.to(device,dtype = torch.float)
    optimizer.zero_grad()
    outputs = s_nn(images)
    labels = labels.unsqueeze(1)
    outputs = outputs.squeeze(1)
    loss = loss_function (outputs , labels)
    loss.backward()
    optimizer.step()
    # calculate accuracy
    epoch_loss += outputs.shape[0] * loss.item()
    total = labels.size(0)
    acc_list.append(binary_acc(outputs,labels))
  all_train_losses.append(epoch_loss/60000)
  print(epoch_loss/60000)
  all_train_accuracy.append(mean(acc_list))

  # evaluation on validation data
  loss_list = []
  s_nn.eval() 
  with torch.no_grad():
    corr = 0
    tot = 0
    for j,(images , labels) in enumerate (val_loader):
      images , labels = images.to(device) , labels.to(device,dtype = torch.float)
      out = s_nn(images)
      out = out.squeeze(1)
      labels = labels.unsqueeze(1)
      loss_list.append(loss_function (out , labels).item())
      tot += labels.size(0)
      predicts = torch.round(torch.sigmoid(out))
      corr += (predicts == labels).sum().item()
    all_val_accuracy.append(corr/tot)
    all_val_losses.append(mean(loss_list))
    print("validation accuracy : "+str((corr/tot)*100))

0.2962915410677592
validation accuracy : 90.0675
0.24558661993344624
validation accuracy : 92.39
0.2265266419092814
validation accuracy : 93.4
0.21593277430534363
validation accuracy : 93.9525
0.20774423735936481
validation accuracy : 93.81
0.20491128238042194
validation accuracy : 93.27
0.2044565368970235
validation accuracy : 94.145
0.1983057999610901
validation accuracy : 93.7775
0.20196993279457093
validation accuracy : 94.2475
0.1938957100788752
validation accuracy : 94.11749999999999
0.19389334779580433
validation accuracy : 93.91000000000001
0.19725084931850434
validation accuracy : 94.5275
0.19262891455491385
validation accuracy : 94.5625
0.19115296471118928
validation accuracy : 94.6125
0.18730036160151164
validation accuracy : 94.61749999999999
0.18907462326685587
validation accuracy : 94.67999999999999
0.1850322959582011
validation accuracy : 94.595
0.1856498516480128
validation accuracy : 94.535
0.1896938354730606
validation accuracy : 94.28750000000001
0.18760691664218904
validation accuracy : 94.715
0.18309554307460785
validation accuracy : 94.755
0.18495988806088765
validation accuracy : 94.5525
0.18621038460731507
validation accuracy : 94.685
0.181962889846166
validation accuracy : 94.6075
0.1798989059527715
validation accuracy : 93.935
0.18112480292320252
validation accuracy : 94.795
0.18508495270411174
validation accuracy : 94.7825
0.17931935547192893
validation accuracy : 94.85749999999999
0.17766865572929383
validation accuracy : 94.86
0.18180498393376668
validation accuracy : 94.65
0.17693105608622234
validation accuracy : 94.95
0.18351459066867828
validation accuracy : 94.67750000000001
0.17755180691083272
validation accuracy : 95.0325
0.17541353021065395
validation accuracy : 94.955
0.17608465917905172
validation accuracy : 94.735
0.1743630126953125
validation accuracy : 95.04
0.1735405710419019
validation accuracy : 95.025
0.17547168556849163
validation accuracy : 94.59
0.17495894902547202
validation accuracy : 95.045
0.17284603739579518
validation accuracy : 94.8075
0.1746195088148117
validation accuracy : 94.92
0.17209806034167607
validation accuracy : 94.7775
0.17465069025357563
validation accuracy : 95.15249999999999
0.17055378549893696
validation accuracy : 95.185
0.17094332461357117
validation accuracy : 95.0875
0.1713603097597758
validation accuracy : 95.0075
0.17041348536809287
validation accuracy : 95.08
0.17512614796161652
validation accuracy : 95.05749999999999
0.17139471882184346
validation accuracy : 95.1575
0.17047477294603983
validation accuracy : 95.175